*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cereal", sans-serif;
}

@font-face {
    font-family: "cereal";
    src: url("/assets/Radikal/Nootype\ -\ Radikal.otf");
}

.container{
    background: url("/assets/background.jpg") no-repeat center;
    background-size: cover;
    height: calc(100% - 80px);
    width: 100%;
}

/* Menu */
.nav{
    display: flex;
    flex-direction: column;
}

.nav-bar{
    background-color: white;
    width: 100%;
    height: 80px;
    position: relative;
}

.menu li{
    display: inline-block;
    list-style-type: none;
}

.menu a{
    color: rgba(0, 0, 0, 0.6);
    transition: .3s;
}

.menu a:hover{
    color: rgba(13, 173, 160, 0.8);
}

.active a{
    color: rgb(13, 173, 160);
    padding-bottom: 22px;
    border-bottom: 3px solid rgb(13, 173, 160);
}

.menus a{
    text-decoration: none;
}

.menu ul{
    margin-left: 100px;
    position: absolute;
    top: 40%;
    letter-spacing: 1px;
}

.menus:nth-child(2), .menus:nth-child(3), .menus:nth-child(4){
    text-decoration: none;
    margin-left: 50px;
}

.comece-ja, .info{
    float: right;
}


.comece-ja{
    position: absolute;
    right: 50px;
    top: 20%;
    margin-right: 30px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: rgb(204, 54, 54);
    color: white;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.comece-ja:hover{
    background-color: rgb(187, 41, 41);
    transform: scale(1.05);
}


.info p{
    margin-right: 170px;
    position: absolute;
    right: 100px;
    top: 35%;
    color: rgb(146, 146, 146);
}

.preco{
    position: absolute;
    right: 185px;
    top: 30%;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    margin-left: 30px;
    font-size: 40px;
    margin-top: 15px;
}

.logo a{
    color: rgb(13, 173, 160);
}


/* Main */
.main{
    display: flex;
    flex-direction: row-reverse;
}

.side-infos{
    text-align: justify;
    width: 400px;
    height: 450px;
    margin: 150px;
    padding: 35px;
    border-radius: 10px;
    background-color: white;
}

/* Textos */
.texts h1{
    font-size: 35px;
}

.texts p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.valor h3{
    font-size: 35px;
    margin: 15px;
}

.valor span{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}


/* Inputs */
.inputs{
    box-sizing: border-box;
    position: relative;
}

#local{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}

#local::placeholder{
    color: rgba(0, 0, 0, 0.4);
}

#espaco{
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    width: 62%;
}

#hospedes{
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    width: 36%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Button */
.btn{
    text-align: center;
    line-height: 60px;
}

.btn-side{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(187, 73, 73);
    letter-spacing: 1.5px;
    box-shadow: 3px 3px 15px black;
    transition: .2s;
}

.btn-side:hover{
    background-color: rgb(197, 60, 60);
    transform: scale(1.05);
}

.btn-side:active{
    background-color: rgb(211, 25, 25);
}

/* Footer */

.footer-name{
    width: 100%;
    height: 10px;
    padding: 15px;
    text-align: center;
    line-height: 5px;
    border-radius: 1px;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.footer-name a{
    text-decoration: none;
    color: white;
    transition: .5s;
}

.footer-name p{
    color: white;
}

.footer-name a:hover{
    font-size: 20px;
    color: orange;
}